.container
  .row
    %label Name:
    %input{"ng-model" => "yourName", :placeholder => "Enter a name here", :type => "text"}/
    %hr/
    %h1 Hello {{yourName}}!

  %div{"ng-controller" => "SalmonCtrl"}
    %ul
      %li{"ng-repeat" => "salmon in salmon"}
        %h3 {{salmon.common_name}}
        %p {{salmon.species}}


